@page "/company/{ticker}"
@attribute [Authorize]
@inject ICompanyService CompanyService;
@inject NavigationManager NavigationManager


@using Syncfusion.Blazor;
@using Syncfusion.Blazor.Layouts;
@using Syncfusion.Blazor.Charts;
@using Syncfusion.Blazor.Buttons;

<SfDashboardLayout CellAspectRatio="3" Columns="2">
    <DashboardLayoutPanels>
        <DashboardLayoutPanel SizeY="2">
                <ContentTemplate>
                <div style="padding: 10px; margin: 10px">
                    <p style="text-align:center; font-size:150%">Description:</p>
                    <p>@Company.Description</p>
                    
                </div>
            </ContentTemplate>
        </DashboardLayoutPanel>

        <DashboardLayoutPanel SizeY="2">
                <ContentTemplate>
                <div style="padding: 10px; margin: 10px">
                    <p style="text-align:center; font-size:200%">Company: <b>@Company.Name</b></p>
                    <text style="font-size:120%">
                        Ticker: <b>@Company.Ticker</b> <br/>
                        Active: <b>@Company.Active</b> <br /> 
                        Homepage:<b>@Company.Homepage_url</b> <br /> 
                        Phone number: <b>@Company.Phone_Number</b> <br /> 
                        Locale: <b>@Company.Locale</b> <br /> 
                        Currency: <b>@Company.Currency_Name</b> </text>
                </div>
            </ContentTemplate>
        </DashboardLayoutPanel>
        <DashboardLayoutPanel SizeX="2" SizeY="3">
            <ContentTemplate>
                @if (DataSource == null)
                {
                    <div class="stockchartloader">
                    </div>
                }
                else
                {
                    <div class="@loadClass">
                    </div>
                    <div class="@loadDiv">
                        <SfStockChart Title="AAPL Stock Price">
                            <StockChartEvents OnLoaded="@ChartLoaded"></StockChartEvents>
                            <StockChartPrimaryXAxis>
                                <StockChartAxisMajorGridLines Width="0"></StockChartAxisMajorGridLines>
                                <StockChartAxisCrosshairTooltip Enable="true"></StockChartAxisCrosshairTooltip>
                            </StockChartPrimaryXAxis>
                            <StockChartPrimaryYAxis>
                                <StockChartAxisLineStyle Width="0"></StockChartAxisLineStyle>
                                <StockChartAxisMajorTickLines Width="0"></StockChartAxisMajorTickLines>
                            </StockChartPrimaryYAxis>
                            <StockChartTooltipSettings Enable="true"></StockChartTooltipSettings>
                            <StockChartCrosshairSettings Enable="true"></StockChartCrosshairSettings>
                            <StockChartSeriesCollection>
                                <StockChartSeries DataSource="@DataSource" Type="ChartSeriesType.HiloOpenClose" XName="x"></StockChartSeries>
                            </StockChartSeriesCollection>
                            <StockChartChartArea>
                                <StockChartChartAreaBorder Width="0"></StockChartChartAreaBorder>
                            </StockChartChartArea>
                        </SfStockChart>
                    </div>
                    <style>
                        .stockchartloader {
                            border: 6px solid #f3f3f3;
                            border-top: 6px solid #7a0fff;
                            width: 40px;
                            height: 40px;
                            position: absolute;
                            top: 46%;
                            left: 46%;
                            border-radius: 50%;
                            -webkit-animation: loader 2s linear infinite;
                            animation: loader 2s linear infinite;
                        }
                        .stockchartdiv {
                            visibility: hidden;
                        }
                    </style>
                }
            </ContentTemplate>
        </DashboardLayoutPanel>
        <DashboardLayoutPanel SizeX="1" SizeY="2">
            <ContentTemplate>
                 <div style="padding: 10px; margin: 10px">
                <p style="text-align:center; font-size:200%"><b>Most recent values: </b></p>
                <text style="font-size:120%">
                    From date: <b></b> 
                    @Error
                </text>
            </div>
             </ContentTemplate>
        </DashboardLayoutPanel>
        <DashboardLayoutPanel>
            <ContentTemplate>
                <div style="padding: 10px; margin: 10px">
                    <SfButton Content="Add to watchlist" >

                    </SfButton>
                    <SfButton Content="Show watchlist" @onclick="NavigateToWatchlist">

                    </SfButton>
                    <SfButton Content="Search" @onclick="NavigateToSearch">
                    </SfButton>
                </div>
            </ContentTemplate>
        </DashboardLayoutPanel>
    </DashboardLayoutPanels>
</SfDashboardLayout>



@code {

    [Parameter]
    public string Ticker { get; set; }

    public projektApbd.Shared.Models.DTOs.Company Company { get; set; } = new projektApbd.Shared.Models.DTOs.Company();
    public projektApbd.Shared.Models.DTOs.DailyOpenClose DailyOpenClose { get; set; } = new projektApbd.Shared.Models.DTOs.DailyOpenClose();
    public List<projektApbd.Shared.Models.DTOs.DailyOpenClose> DailyOpenCloses { get; set; } = new List<projektApbd.Shared.Models.DTOs.DailyOpenClose>();

    public string Error { get; set; }

    protected override void OnParametersSet()
    {
        var test = Ticker;
    }

    protected override async Task OnInitializedAsync()
    {
        await InitializeCompany();
        await InitializeStockChart();
    }

    private async Task InitializeCompany()
    {
        try
        {
            Company = await CompanyService.PostCompany(Ticker);
        }
        catch (Exception ex)
        {
            Error = ex.Message;
            StateHasChanged();
        }
    }

    private async Task InitializeStockChart()
    {
        try
        {
            DailyOpenCloses = await CompanyService.PostDailyOpenCloses(Ticker, DateTime.Now.AddDays(-14), DateTime.Now);
        }
        catch (Exception ex)
        {
            Error = ex.Message;
            StateHasChanged();
        }
    }

    private void NavigateToWatchlist()
    {
        NavigationManager.NavigateTo("/watchlist");
    }

    private void NavigateToSearch()
    {
        NavigationManager.NavigateTo("/");
    }

    private void AddToWatchList()
    {

    }


    private ChartData[] DataSource = new ChartData[]
    {
        new ChartData
        {
            x = DateTime.Now,
            open = 1.1,
            low = 1.0,
            close = 5.0,
            high = 5.0,
            volume = 1.5
        }
    };
    
    public class ChartData
    {
        public DateTime x { get; set; }
        public double open { get; set; }
        public double low { get; set; }
        public double close { get; set; }
        public double high { get; set; }
        public double volume { get; set; }
    }
    string loadClass = "stockchartloader";
    string loadDiv = "stockchartdiv";

    void ChartLoaded(StockChartEventArgs args)
    {
        loadClass = "";
        loadDiv = "";
        StateHasChanged();
    }


}