@page "/company/{ticker}"
@attribute [Authorize]
@inject ICompanyService CompanyService;
@inject NavigationManager NavigationManager
@inject IUserService UserService;


@using Syncfusion.Blazor;
@using Syncfusion.Blazor.Layouts;
@using Syncfusion.Blazor.Charts;
@using Syncfusion.Blazor.Buttons;
@using System.Diagnostics

<SfDashboardLayout CellAspectRatio="3" Columns="2">
    <DashboardLayoutPanels>
        <DashboardLayoutPanel SizeX="1" SizeY="1">
            <ContentTemplate>
                 <div style="padding: 10px; margin: 10px">
                <p style="text-align:center; font-size:200%"><b>Most recent values: </b></p>
                <text style="font-size:120%">
                    From date: <b>@DailyOpenClose.Date</b> <br/>
                    Open: <b>@DailyOpenClose.Open</b> <br/>
                    Close: <b>@DailyOpenClose.Close</b> <br/>
                    High: <b>@DailyOpenClose.High</b> <br/>
                    Low: <b>@DailyOpenClose.Low</b><br/>
                    Volume: <b>@DailyOpenClose.Volume</b ><br/>
                </text>
            </div>
             </ContentTemplate>
        </DashboardLayoutPanel>
        <DashboardLayoutPanel SizeX="2" SizeY="3">
            <ContentTemplate>
                @if (DataSource == null)
                {
                    <div class="stockchartloader">
                    </div>
                }
                else
                {
                    <div class="@loadClass">
                    </div>
                    <div class="@loadDiv">
                        <SfStockChart Title="@Ticker">

                            <StockChartCrosshairSettings Enable="true"></StockChartCrosshairSettings>

                            <StockChartPeriods>
                                <StockChartPeriod IntervalType="RangeIntervalType.Days" Interval="1" Text="Day" Selected="true"></StockChartPeriod>
                                <StockChartPeriod IntervalType="RangeIntervalType.Days" Interval="7" Text="Week"></StockChartPeriod>
                                <StockChartPeriod IntervalType="RangeIntervalType.Months" Interval="1" Text="Month"></StockChartPeriod>
                                <StockChartPeriod IntervalType="RangeIntervalType.Months" Interval="3" Text="3 Months"></StockChartPeriod>
                            </StockChartPeriods>

                            <StockChartEvents OnLoaded="@ChartLoaded"></StockChartEvents>
                            <StockChartPrimaryXAxis>
                                <StockChartAxisMajorGridLines Width="0"></StockChartAxisMajorGridLines>
                                <StockChartAxisCrosshairTooltip Enable="true"></StockChartAxisCrosshairTooltip>
                            </StockChartPrimaryXAxis>
                            <StockChartPrimaryYAxis>
                                <StockChartAxisLineStyle Width="0"></StockChartAxisLineStyle>
                                <StockChartAxisMajorTickLines Width="0"></StockChartAxisMajorTickLines>
                            </StockChartPrimaryYAxis>
                            <StockChartTooltipSettings Enable="true"></StockChartTooltipSettings>
                            <StockChartCrosshairSettings Enable="true"></StockChartCrosshairSettings>
                            <StockChartSeriesCollection>
                                <StockChartSeries DataSource="@DataSource" Type="ChartSeriesType.HiloOpenClose" XName="x"></StockChartSeries>
                            </StockChartSeriesCollection>
                            <StockChartChartArea>
                                <StockChartChartAreaBorder Width="0"></StockChartChartAreaBorder>
                            </StockChartChartArea>
                        </SfStockChart>
                    </div>
                    <style>
                        .stockchartloader {
                            border: 6px solid #f3f3f3;
                            border-top: 6px solid #7a0fff;
                            width: 40px;
                            height: 40px;
                            position: absolute;
                            top: 46%;
                            left: 46%;
                            border-radius: 50%;
                            -webkit-animation: loader 2s linear infinite;
                            animation: loader 2s linear infinite;
                        }
                        .stockchartdiv {
                            visibility: hidden;
                        }
                    </style>
                }
            </ContentTemplate>
        </DashboardLayoutPanel>
         <DashboardLayoutPanel SizeY="2">
                <ContentTemplate>
                <div style="padding: 10px; margin: 10px">
                    <p style="text-align:center; font-size:150%">Description:</p>
                    <p>@Company.Description</p>
                    
                </div>
            </ContentTemplate>
        </DashboardLayoutPanel>
         <DashboardLayoutPanel SizeY="2">
                <ContentTemplate>
                <div style="padding: 10px; margin: 10px">
                    <SfButton Content="Add to watchlist" @onclick="AddToWatchList"> </SfButton>
                    <p style="text-align:center; font-size:200%">Company: <b>@Company.Name</b></p>
                    <text style="font-size:120%">
                        Ticker: <b>@Company.Ticker</b> <br/>
                        Active: <b>@Company.Active</b> <br /> 
                        Homepage: <b>@Company.Homepage_url</b> <br /> 
                        Phone number: <b>@Company.Phone_Number</b> <br /> 
                        Locale: <b>@Company.Locale</b> <br /> 
                        Currency: <b>@Company.Currency_Name</b> </text>
                </div>
            </ContentTemplate>
        </DashboardLayoutPanel>
    </DashboardLayoutPanels>
</SfDashboardLayout>



@code {

    [Parameter]
    public string Ticker { get; set; }

    public projektApbd.Shared.Models.DTOs.Company Company { get; set; } = new projektApbd.Shared.Models.DTOs.Company();
    public projektApbd.Shared.Models.DTOs.DailyOpenClose DailyOpenClose { get; set; } = new projektApbd.Shared.Models.DTOs.DailyOpenClose();
    public List<projektApbd.Shared.Models.DTOs.DailyOpenClose> DailyOpenCloses { get; set; } = new List<projektApbd.Shared.Models.DTOs.DailyOpenClose>();

    public string Error { get; set; }

    protected override void OnParametersSet()
    {
        var test = Ticker;
    }

    protected override async Task OnInitializedAsync()
    {
        await InitializeCompany();
        await InitializeStockChart();
    }

    private async Task InitializeCompany()
    {
        try
        {
            Company = await CompanyService.PostCompany(Ticker);
        }
        catch (Exception ex)
        {
            Error = ex.Message;
            StateHasChanged();
        }
    }

    private async Task InitializeStockChart()
    {
        try
        {
            await CompanyService.PostDailyOpenCloses(Ticker, DateTime.Now.AddDays(-91), DateTime.Now);
            DailyOpenCloses = await CompanyService.GetDailyOpenCloses(Company.Id, DateTime.Now.AddDays(-91), DateTime.Now);
            ChartData[] output = new ChartData[DailyOpenCloses.Count];
            DailyOpenClose = DailyOpenCloses.Last();

            if(DailyOpenCloses == null){
                return;
            }

            for(int i = 0; i < DailyOpenCloses.Count; i++)
            {
                var day = DailyOpenCloses[i];
                output[i] = new ChartData
                    {
                        x =  day.Date,
                        open = decimal.ToDouble(day.Open),
                        low = decimal.ToDouble(day.Low),
                        close = decimal.ToDouble(day.Close),
                        high = decimal.ToDouble(day.High)
                    };
                output[i].volume = double.TryParse(day.Volume, out double volume) ? Convert.ToDouble(volume) : 1;
            }


            Console.WriteLine(DailyOpenCloses);
            DataSource = output;
        }
        catch (Exception ex)
        {
            Error = ex.Message;
            Trace.TraceError(Error);
            StateHasChanged();
        }
    }

    private void NavigateToWatchlist()
    {
        NavigationManager.NavigateTo("/watchlist");
    }

    private void NavigateToSearch()
    {
        NavigationManager.NavigateTo("/");
    }

    private async Task AddToWatchList()
    {
        await UserService.PostCompanyToWatchlist(Company.Id);
    }

    private ChartData[] DataSource { get; set; }

    public class ChartData
    {
        public DateTime x { get; set; }
        public double open { get; set; }
        public double low { get; set; }
        public double close { get; set; }
        public double high { get; set; }
        public double volume { get; set; }
    }
    string loadClass = "stockchartloader";
    string loadDiv = "stockchartdiv";

    void ChartLoaded(StockChartEventArgs args)
    {
        loadClass = "";
        loadDiv = "";
        StateHasChanged();
    }
}