@page "/watchlist"
@attribute [Authorize]
@inject NavigationManager NavigationManager;
@inject ICompanyService CompanyService;
@inject IUserService UserService;
@using projektApbd.Shared.Models.DTOs;

@using Syncfusion.Blazor;
@using Syncfusion.Blazor.Layouts;
@using Syncfusion.Blazor.Grids;
@using Syncfusion.Blazor.Buttons;


<table class="table">
    <tr>
    <th>Ticker</th>
    <th>Name</th>
    <th>Locale</th>
    <th>Active</th>
    <th>Show</th>
    <th>Delete</th>
    </tr>

    @foreach (projektApbd.Shared.Models.DTOs.Company company in Companies)
        {
<tr>
    <td>@company.Ticker</td>
    <td>@company.Name</td>
    <td>@company.Locale</td>
    <td>@company.Active</td>
    <td><button type="submit" class="btn btn-outline-info" onclick="@(() => NavigateToCompanyView(company))">Show</button></td>
    <td><button type="submit" class="btn btn-outline-danger" onclick="@(() => Delete(company))">Delete</button></td>
</tr>
        }

</table>


@code {

    public List<projektApbd.Shared.Models.DTOs.Company> Companies { get; set; } = new List<projektApbd.Shared.Models.DTOs.Company>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Companies = await UserService.GetWatchlistCompany();
        }
        catch (Exception ex)
        {
            StateHasChanged();
        }
    }

    public async Task Delete(projektApbd.Shared.Models.DTOs.Company company)
    {
        await UserService.DeleteCompanyFromWatchlist(company.Id);
        Companies = await UserService.GetWatchlistCompany();
        StateHasChanged();
    }

    public async Task NavigateToCompanyView(projektApbd.Shared.Models.DTOs.Company company)
    {
        NavigationManager.NavigateTo($"/company/{company.Ticker.ToUpper()}");
    }
}
