@page "/watchlist"
@attribute [Authorize]
@inject ICompanyService CompanyService;
@inject IUserService UserService;
@using projektApbd.Shared.Models.DTOs;

@using Syncfusion.Blazor;
@using Syncfusion.Blazor.Layouts;
@using Syncfusion.Blazor.Grids;
@using Syncfusion.Blazor.Buttons;

@*<SfGrid DataSource="@Companies">
    <GridColumns>
        <GridColumn Field=@nameof(projektApbd.Shared.Models.DTOs.Company.Ticker) HeaderText="Ticker"></GridColumn>
        <GridColumn Field=@nameof(projektApbd.Shared.Models.DTOs.Company.Name) HeaderText="Name"></GridColumn>
        <GridColumn Field=@nameof(projektApbd.Shared.Models.DTOs.Company.Locale) HeaderText="Locale"></GridColumn>
        <GridColumn Field=@nameof(projektApbd.Shared.Models.DTOs.Company.Active) HeaderText="Active"></GridColumn>
        @*<GridColumn>
            <Template>
                <SfButton Content="Delete" onclick="Delete"></SfButton>
            </Template>
        </GridColumn>*@
@*        <GridColumn HeaderText="Delete">
            <Template>
                @{
                var company = (context as projektApbd.Shared.Models.DTOs.Company);
                    <button  onclick="Delete(company)">
                        Delete
                    </button>
                }
            </Template>
        </GridColumn>
    </GridColumns>
</SfGrid>*@

<table class="table">
    <thead>
    <td>Ticker</td>
    <td>Name</td>
    <td>Locale</td>
    <td>Active</td>
    <td>Delete</td>
    </thead>

    @foreach (projektApbd.Shared.Models.DTOs.Company company in Companies)
        {
<tr>
    <td>@company.Ticker</td>
    <td>@company.Name</td>
    <td>@company.Locale</td>
    <td>@company.Active</td>
    <td><button type="submit" class="btn btn-outline-danger" onclick="@(() => Delete(company))">DELETE</button></td>
</tr>
        }

</table>

@code {

    public List<projektApbd.Shared.Models.DTOs.Company>? Companies { get; set; } = new List<projektApbd.Shared.Models.DTOs.Company>();

    protected override async void OnInitialized()
    {
        try
        {
            Companies = await UserService.GetWatchlistCompany();        
        }
        catch (Exception ex)
        {
            StateHasChanged();
        }

    }
    public async Task Delete(projektApbd.Shared.Models.DTOs.Company company)
    {
        await UserService.DeleteCompanyFromWatchlist(company.Id);
    }
}
